
<div class="container1" style="margin-top:10%;">
<center><h1>Posts</h1>
</center>
<% if @update==false %>
<%= form_tag("/comment", method:"post") do %>
  <div class="form-group">
    <label for="exampleInputUser">Title</label>
    <%= text_field_tag(:titl)%>
  </div>
  <div class="form-group">
    <label for="exampleInputPass">Comment</label>
    <p class="emoji-picker-container">
    <%= text_field_tag(:content,"", {:class=>'form-control', :data=>{ emojiable: true }}) %>
  </p>
  </div>

<center>
  <%= submit_tag("Submit",:class=>"btn btn-success") %>
</center>
<% end %>
<%elsif @update==true %>
<% post=Post.find(@postid) %>
<%= form_tag("/comment", method:"post") do %>
  <div class="form-group">
    <label for="exampleInputUser">Title</label>
    <%= text_field_tag(:titl,value=post.title)%>
  </div>
  <div class="form-group">
    <label for="exampleInputPass">Comment</label>
    <p class="emoji-picker-container">
    <%= text_field_tag(:content,post.message, {:class=>'form-control', :data=>{ emojiable: true }}) %>
  </p>
  </div>

<center>
  <%= submit_tag("Update",:class=>"btn btn-success") %>
</center>
<% end %>

</div>
<% end %>
