<% user=User.find_by_username(@temp) %>
<div class="container3" style="margin-top:60px;">
<h1><%= user.username %></h1>
<hr>
  <div class="row">
    <div class="col-sm-3 containernew" style=" border-right: 1px solid #e6e9ef;">
      <hr>
      <center><h4>Introduction</h4></center>
      <hr>
      <div class="row">
        <% if rails_blob_url(user.avatar).nil?%>
          <% if user.gender=="female" %>
          <%= image_tag( "def_girl.png",{:class=>"img-thumbnail img-responsive",:style=>"width:90%;height:40%;"})%>
         <% else %>
         <%= image_tag("def_boy.jpg",{:class=>"img-thumbnail img-responsive",:style=>"width:90%;height:40%;"})%>
         <% end %>
         <% else %>
        <%= image_tag(rails_blob_url(user.avatar),{:class=>"img-thumbnail img-responsive",:style=>"width:90%;height:40%;"})%>
        <% end %>
      </div>
      <br>
      <div class="row">
        <span style="float:left;color:red;">Email :</span> <span style="float:left;" class="glyphicon glyphicon-envelope"></span><span style="float:right;">
        <%= user.email %>
       </span>
     </div>
     <br>
     <div class="row">
      <span style="float:left;color:red;">Mobile no  :</span> <span style="float:left;" class="glyphicon glyphicon-earphone"></span><span style="float:right;">
       <%= user.phone %>
     </span>
   </div>
   <br>
   <div class="row">
    <span style="float:left;color:red;">DOB  :</span> <span style="float:left;" class="glyphicon glyphicon-calendar"></span><span style="float:right;">
     <%= user.dob %>
   </span>
   </div>
      </div>
      <div class="col-sm-9 scroll">

        <% @posts=Post.where(user_id:user.id) %>
        
        <% if @posts!=nil %>
        <% @posts.each do |post|  %>
        <div class="container1">
          <h4>  <%= post.title %></h4>
          <hr>
          <p><%= post.message %></p>
        </div>
      <br>
        <% end %>
        <% else %>
        <div class="container1">
          <center>No posts yet</center>
        </div>
        <% end %>
      </div>

        </div>
      </div>
