<!DOCTYPE html>
<html>
  <head>
    <title>LearningApp</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'emoji', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

        <% if logged_in? %>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Fresh Memorywaves',posts_showall_path,{ :class=>"navbar-brand" } %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
              <li ><%=link_to "Feeds",posts_showall_path%></li>
              <li><%=link_to "New Post",pages_posts_path%></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li>  <%= link_to current_user.username,sessions_about_path%></li>

                  <li style="margin:0px;"><i><%=image_tag( rails_blob_url(current_user.avatar),
                {:class=>"img-circle img-responsive",:style=>"width:50px;height:50px;"})%></i></li>

                <li> <%= link_to "",sessions_logout_path,{:class=>"glyphicon glyphicon-off "} %></li>

                </ul>
        <% else %>
        <div class="navbar-header">
          <%= link_to 'Fresh Memorywaves',root_path,{ :class=>"navbar-brand" } %>
        </div>
        <%= link_to 'Login',login_path, { :class => "btn btn-white navbar-right navbar-btn"} %>
        <% end %>
      </div>
    </div>
    </nav>
    <%flash.each do |name,msg| %>
    <ul>
      <li><%=msg%>
      </li>
    </ul>
    <%end%>
    <%= yield %>

  </body>
</html>
